# dependencies
node_modules/

# environment
.env

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

backend/.venv
backend/__pycache__
backend/app/__pycache__
node_modules
